<section class="main-task-manger">
    <div class="kanban-wrapper">
        <div class="kanban-header">
            <div class="left">
                <h2>🤘 {{selectedTeam | capitalize}} Team</h2>
            </div>
            <div class="right">
                <button class="create-btn" (click)="teamFormService.toggleAddForm()">+ Create New Team</button>
                <button (click)="toggleDeadlineFilter()" class="filter-toggle-btn">
                    {{ isFilteringDeadlines ? 'Filter' : 'Filter By Deadline' }}
                </button>
            </div>
        </div>

        <div class="kanban-columns">
            <div class="column" *ngFor="let column of columns; let i = index" cdkDropList [cdkDropListData]="column.tasks"
                [cdkDropListConnectedTo]="connectedDropListsIds" (cdkDropListDropped)="drop($event)" [id]="'cdk-drop-list-' + i">
                <div class="column-header">
                    <h3>{{ column.name }}</h3>
                    <div class="add_rm-btn">
                        <button class="add-btn" (click)="addCardMode(column)">+</button>
                        <button class="remove-btn" (click)="toggleRemoveMode()">-</button>
                    </div>
                </div>

                <div class="card" *ngFor="let task of column.tasks" cdkDrag [class.removable]="removeMode"
                    (click)="removeMode ? removeSpecificCard(column, task) : null">
                    <div class="NCID">
                        <div class="card-nameCard">{{ task.nameCard }}</div>
                        <div class="card-id">{{ task.id }}</div>
                    </div>
                    <div class="card-title">{{ task.title }}</div>
                    <div class="card-progress">
                        <span>Progress:</span>
                        <div class="progress-bar" [style.width.%]="column.progress" [style.backgroundColor]="column.color"
                            [style.borderRadius.px]="8">
                            <app-progress-bar></app-progress-bar>
                        </div>
                    </div>
                    <div class="card-deadline">
                        <span>Deadline: <br> {{task.deadline}}</span>
                    </div>
                    <div class="card-info">
                        <div class="card-meta">
                            <span>🗨️ 3</span>
                            <span>📎 8</span>
                            <span>👤 User;</span>
                        </div>
                        <div class="card-edit">
                            <span (click)="editCardMode(column, task)">📝 Edit</span>
                        </div>
                    </div>
                </div>
                    <button class="add-new-card" (click)="addCardMode(column)">+ Add New Card</button>
            </div>
        </div>
    </div>

</section>